<%= form_with model: kitten do |f|%>
    <div>
        <%= f.label :name%>
        <%= f.text_field :name%>
        <% unless @kitten.errors[:name].blank?%>
            <p><%= @kitten.errors[:name][0]%></p>
        <%end%>
    </div>

    <div>
        <%= f.label :age%>
        <%= f.number_field :age%>
        <% unless @kitten.errors[:age].blank?%>
            <p><%= @kitten.errors[:age][0]%></p>
        <%end%>
    </div>

    <div>
        <%= f.label :cuteness%>
        <%= f.select :cuteness, Kitten.cutenesses.map {|key,value| [key,value]}%>
        <% unless @kitten.errors[:cuteness].blank? %>
            <p><%= @kitten.errors[:cuteness][0]%></p>
        <%end%>
    </div>

    <div>
        <%= f.label :softness%>
        <%= f.select :softness, Kitten.softnesses.map {|key,value| [key,value]}%>
        <% unless @kitten.errors[:softness].blank?%>
            <p><%= @kitten.errors[:softness][0]%></p>
        <%end%>
    </div>

    <div>
        <%= f.submit%>
    </div>
<%end%>